absl-py==1.0.0
altgraph==0.17.2
astunparse==1.6.3
attrs==21.4.0
blinker==1.4
blurhash==1.1.4
boost==0.1
cached-property==1.5.2
cachetools==5.0.0
certifi==2021.10.8
charset-normalizer==2.0.12
click @ file:///C:/ci/click_1646038601470/work
cmake==3.22.2
colorama @ file:///tmp/build/80754af9/colorama_1607707115595/work
cycler==0.11.0
decorator==4.4.2
dlib==19.23.0
docopt==0.6.2
Flask @ file:///home/ktietz/src/ci/flask_1611932660458/work
Flask-Cors==3.0.10
Flask-Mail==0.9.1
Flask-SQLAlchemy==2.5.1
flatbuffers==2.0
fonttools==4.29.0
future==0.18.2
gast==0.5.3
google-auth==2.6.0
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
greenlet==1.1.2
grpcio==1.44.0
h5py==3.6.0
idna==3.3
imageio==2.16.1
imageio-ffmpeg==0.4.5
importlib-metadata==4.11.1
itsdangerous @ file:///tmp/build/80754af9/itsdangerous_1621432558163/work
Jinja2 @ file:///tmp/build/80754af9/jinja2_1612213139570/work
keras==2.8.0
Keras-Preprocessing==1.1.2
kiwisolver==1.3.2
libclang==13.0.0
Markdown==3.3.6
MarkupSafe @ file:///C:/ci/markupsafe_1594405949945/work
Mastodon.py==1.5.1
matplotlib==3.5.1
mediapipe==0.8.9.1
mkl-fft==1.0.6
mkl-random==1.0.1
moviepy==1.0.3
numpy==1.21.5
oauthlib==3.2.0
opencv-contrib-python==4.5.5.62
opt-einsum==3.3.0
packaging==21.3
pefile==2021.9.3
Pillow==9.0.1
pipreqs==0.4.11
proglog==0.1.9
protobuf==3.19.4
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycryptodome==3.15.0
pyinstaller==4.10
pyinstaller-hooks-contrib==2022.2
PyMySQL==1.0.2
pyparsing==3.0.7
python-dateutil==2.8.2
python-magic==0.4.25
pytz==2021.3
pywin32-ctypes==0.2.0
requests==2.27.1
requests-oauthlib==1.3.1
rsa==4.8
scipy==1.7.3
six==1.16.0
SQLAlchemy==1.4.31
TBB==0.1
tensorboard==2.8.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow-io-gcs-filesystem==0.24.0
termcolor==1.1.0
tf-estimator-nightly==2.8.0.dev2021122109
timm==0.5.4
tlt==0.2.0
torch==1.11.0
torchvision==0.12.0
tqdm==4.63.0
typing-extensions @ file:///tmp/build/80754af9/typing_extensions_1631814937681/work
urllib3==1.26.8
Werkzeug @ file:///opt/conda/conda-bld/werkzeug_1645628268370/work
wincertstore==0.2
wrapt==1.14.0
yarg==0.1.9
zipp @ file:///opt/conda/conda-bld/zipp_1641824620731/work
