<div class="clearfix">
    <li class="nav-item dropdown" style="position:fixed;right: 30px;">
        <button class="send " data-counter="0">&#10004;</button>
        <div>
            <button onclick="deleteImgs($('.show1.selected'),'{{url_for('deleteImage')}}')"
                    style="width:45px;background:crimson;display:none;" id="delete">删除
            </button>
        </div>
        <div>
            <button onclick="downloadFiles($('.show1.selected'))"
                    style="width:45px;background:yellowgreen;display:none;" id="download">下载
            </button>
        </div>
        <div>
            <button onclick="provideTags({{list(file_list.keys())}},$('.show1.selected'),'{{url_for('update_tag',t=2)}}')"
                    style="width:45px;background:blue;display:none;" id="move">移动
            </button>
        </div>
    </li>

    </li>
</div>

<div class="container-fluid" style="z-index: 0;">
    {%for x in file_list%}
    <div>
        <div class="grid-item" style="z-index:0;">
            <figure class="effect-bubba">
                {% if file_list[x] == 'none' %}
                <img src="{{ url_for('static',filename='images/empty.jpg') }}" title="{{x}}"
                     alt="Image"
                     class="img-fluid tm-img" style="z-index: 0;">
                {%else%}
                <img src="{{getbase64(file_list[x].content)}}" title="{{x}}"
                     style="background-image:{{getbase64(file_list[x].content)}};z-index: 0;" alt="Image"
                     class="img-fluid tm-img" id="{{file_list[x].id}}">
                {% endif %}
                <figcaption>
                    <h2 class="tm-figure-title">{{x}}</h2>
                    <p class="tm-figure-description"></p>
                    {%if tt == 3%}
                    {% if x == 'HUMAN' or x == 'human' %}
                    <a href="{{url_for('index',userid=userid,tt=2)}}" id="{{x}}">View more</a>
                    {%else%}
                    <a href="{{url_for('album_class',userid=userid,tt=3,classes=x)}}" id="{{x}}">View more</a>
                    {% endif %}
                    {%else%}
                    <a href="{{url_for('album_class',userid=userid,tt=4,classes=x)}}" id="{{x}}">View more</a>
                    {%endif%}
                </figcaption>
            </figure>
        </div>
    </div>
    {%endfor%}

    <div id="renameModal" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered " role="document" style="margin-top: 150px;">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title" style="display: inline-block;">重命名</h3>
                    <label id="now_Name" style="font-size: 30px;
              font-weight: bold;
              position: absolute;
              width: 100%;
              left: 0;
              text-align: center;"></label>
                    <button type="button" class="close" onclick="$('#renameModal').hide();">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div style="margin: 10px;font-size: large;">

                        <input type="text" class="form-control" id="new_Name" value="" placeholder="相册新名字" autofocus=''>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary"
                            onclick="AlbumRename($('#now_Name').html(),$('#new_Name').val(),'{{url_for('operate_album',t='rename')}}')">
                        确定
                    </button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal"
                            onclick="$('#renameModal').hide();">关闭
                    </button>
                </div>
            </div>
        </div>
    </div>
    <script>
        $('.grid-item').on('contextmenu', function (params) {
            // console.log("右键事件");
            if($('.dddd').length == 0)
            {
                $('#menu').append('<a class="dropdown-item dddd" onclick="rename(\''
                + params.target.id +
                '\')" href="#"><i class="fa fa-pencil"></i> 重命名</a>');
                $('.edit').remove()
            }
            if($('.dd').length == 0){
                $('#menu').append('<a class="dropdown-item dd" onclick="deleteAlbum(\'{{url_for("operate_album",t="delete")}}\',\''
                + params.target.id +
                '\')" href="#"><i class="fa fa-times"></i> 删除</a>');
            }
        });
        function rename(now_Name){
            $('#now_Name').text(now_Name);
            $('#renameModal').show();
        }
        function deleteAlbum(url,name){
            delete_album(name,url);
        }

    </script>
</div>