<div class="clearfix">
    <label id="upload-btn" class="add"></label>

    <li class="nav-item dropdown" style="position:fixed;right: 30px;">
        <button class="send " data-counter="0">&#10004;</button>
        <div>
            <button onclick="deleteImgs($('.show1.selected'),'{{url_for('deleteImage')}}')"
                    style="width:45px;background:crimson;display:none;" id="delete">删除
            </button>
        </div>
        <div>
            <button onclick="downloadFiles($('.show1.selected'))"
                    style="width:45px;background:yellowgreen;display:none;" id="download">下载
            </button>
        </div>
        <div id="move_div">
            <button onclick="provideTags({{list(file_list.keys())}},$('.show1.selected'),'{{url_for('update_tag',t=2)}}')"
                    style="width:45px;background:blue;display:none;" id="move">移动
            </button>
        </div>
    </li>
</div>
<div class="container-fluid">
    {%for x in file_list%}
    <div>
        <div class="grid-item">
            <a href="#" class="rename-toggle" style="display:inline-block;font-size:25px;">...</a>
            <div style="display:none;">
                <form action="{{url_for('update_tag',t=1)}}" method="post">
                    <input name="new_tagName" \>
                    <input name="old_tagName" value="{{x}}" style="display:none;" \>
                    <button type="submit" class="rename">重命名</button>
                </form>
            </div>
            <figure class="effect-bubba">
                <img src="{{getbase64(file_list[x].content)}}"
                     style="background-image:{{getbase64(file_list[x].content)}}" alt="Image"
                     class="show2" title="{{file_list[x].name}}" id="{{file_list[x].id}}">
                <figcaption>
                    <h2 class="tm-figure-title" onclick="">{%if x[0:10] == '!@#unnamed'
                        %}{{'未命名'}}{%else%}{{x}}{%endif%}</h2>
                    <p class="tm-figure-description"></p>
                    {%if tt == 2%}
                    <a href="{{url_for('album_class',userid=userid,tt=tt,classes=x)}}">View more</a>
                    {%else%}
                    <a href="{{url_for('album_class',userid=userid,tt=tt,classes=x)}}">View more</a>
                    {%endif%}
                </figcaption>
            </figure>

        </div>
    </div>
    {%endfor%}
</div>