<div class="clearfix">
    <!-- <label id="upload-btn" class="add"></label> -->
    <li class="nav-item dropdown" style="position:fixed;right: 10px;">
        <button class="send" style="display:none;" data-counter="0">&#10004;</button>
        {% if tt != 4 %}
        <div>
            <button onclick="provideTags({{tagList(userid,tt)}},$('.show1.selected'),'{{url_for('operate_album',t='add')}}',this.id)"
                    class="left-button" id="ADD">添加
            </button>
        </div>
        {% endif %}
        {% if tt == 2%}
        <div>
            <button onclick="provideTags({{tagList(userid,tt,'move')}},$('.show1.selected'),'{{url_for('update_tag',t=3)}}',this.id)"
                    class="left-button" id="move">移动
            </button>
        </div>
        {% endif %}
        {% if tt == 4%}
        <div>
            <button onclick="provideTags({{tagList(userid,tt)}},$('.show1.selected'),'{{url_for('operate_album',t='move')}}',this.id+'_','{{albumName}}')"
                    class="left-button" id="move">移动
            </button>
        </div>
        <div>
            <button onclick="operatealbum($('.show1.selected'),'{{url_for('operate_album',t='remove')}}','remove','{{albumName}}')"
                    class="left-button" id="remove">移除
            </button>
        </div>
        {% endif %}
        <div>
            <button onclick="downloadFiles($('.show1.selected'))"
                    class="left-button" id="download">下载
            </button>
        </div>
        <div>
            <button onclick="deleteImgs($('.show1.selected'),'{{url_for('deleteImage')}}')"
                    class="left-button" id="delete">删除
            </button>
        </div>
    </li>

    </li>
</div>

<ul class="cool">
</ul>

<img src="">
<script type="text/javascript">
    $(function(){
    //获取图片
    if({{tt}}==1){
        getSpecialImages({{userid}},{{tt}},'')
    }else{
        if({{tt}}==4){
            getSpecialImages({{userid}},{{tt}},'{{albumName}}')
        }
        else{
            getSpecialImages({{userid}},{{tt}},'{{classes}}')
        }
    }
    });

</script>
