<div class="container-fluid" style="z-index: 0;">
    {%for x in file_list%}
    <div>
        <div class="grid-item" style="z-index:0;">
            <figure class="effect-bubba">
                {% if file_list[x] == 'none' %}
                <img src="{{ url_for('static',filename='images/empty.jpg') }}" title="{{x}}"
                     alt="Image"
                     class="img-fluid tm-img show1" style="z-index: 0;">
                {%else%}
                <img src="{{getbase64(file_list[x].content)}}" title="{{x}}"
                     style="background-image:{{getbase64(file_list[x].content)}};z-index: 0;" alt="Image"
                     class="img-fluid tm-img" id="{{file_list[x].id}}">
                {% endif %}
                <figcaption>
                    <h2 class="tm-figure-title">{{x}}</h2>
                    <p class="tm-figure-description"></p>
                    {%if tt == 3%}
                    {% if x == 'HUMAN' or x == 'human' %}
                    <a href="{{url_for('index',userid=userid,tt=2)}}" id="{{x}}">View more</a>
                    {%else%}
                    <a href="{{url_for('album_class',userid=userid,tt=3,classes=x)}}" id="{{x}}">View more</a>
                    {% endif %}
                    {%else%}
                    <a href="{{url_for('album_class',userid=userid,tt=4,classes=x)}}" id="{{x}}">View more</a>
                    {%endif%}
                </figcaption>
            </figure>
        </div>
    </div>
    {%endfor%}

    <div id="renameModal" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered " role="document" style="margin-top: 150px;">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title" style="display: inline-block;">重命名</h3>
                    <label id="now_Name" style="font-size: 30px;
              font-weight: bold;
              position: absolute;
              width: 100%;
              left: 0;
              text-align: center;"></label>
                    <button type="button" class="close" onclick="$('#renameModal').hide();">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div style="margin: 10px;font-size: large;">

                        <input type="text" class="form-control" id="new_Name" value="" placeholder="请输入新名称"
                               autofocus=''>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary"
                            onclick="$('#renameModal').hide();albumRename($('#now_Name').html(),$('#new_Name').val(),'{{url_for('operate_album',t='rename')}}')">
                        确定
                    </button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal"
                            onclick="$('#renameModal').hide();">关闭
                    </button>
                </div>
            </div>
        </div>
    </div>
    <script>
        {% if tt==4 %}
        $('.grid-item').on('contextmenu', function (params) {
            // console.log("右键事件");

            if($('.dd').length == 0){
                $('#menu').append('<a class="dropdown-item dd" onclick="deleteAlbum(\'{{url_for("operate_album",t="delete")}}\',\''
                + params.target.id +
                '\')" href="#"><i class="fa fa-times"></i> 删除</a>');
            }
            if($('.dddd').length == 0)
            {
                $('#menu').append('<a class="dropdown-item dddd" onclick="rename(\''+params.target.id+'\')" href="#"><i class="fa fa-pencil"></i> 重命名</a>');
                $('.edit').remove();
            }

        });
        {% endif %}
    function rename(now_Name){
        $('#now_Name').text(now_Name);
        $('#new_Name').val('');
        $('#renameModal').show();
    }
    function deleteAlbum(url,name){
        delete_album(name,url);
    }
    function createAlbum()
    {
        var _url = '/operate/album/create';
        var albumName = $('#CreateAlbumName').val();
        create_album(albumName,_url);
    }

    </script>
</div>