{%extends 'base/baseHtml.html'%}
{%block show%}
<div class="clearfix">
    <li class="nav-item dropdown" style="position:fixed;right: 30px;">
        <button class="send " style="display:none;" data-counter="0">&#10004;</button>
        <div>
            <button onclick="restoreImgs($('.show1.selected'),'{{url_for('restoreImgs')}}')"
                    class="left-button" id="restore">还原
            </button>
        </div>
    </li>
</div>
{%for x in file_list%}
<div style="display:inline-block;margin:10px;">
    <div class="need margin_15">
        <a class="show_link" href="{{url_for('showImage',userid=userid,imgid=x['id'])}}" target="_blank">
            <img src="{{getbase64(x['content'])}}"
                 class="show1" title="{{x['name']}}" id="{{x['id']}}">
        </a>
    </div>
    <br>
    <div class='margin_15'
         style="text-align:center;display:inline-block;background-color:rgb(20 173 228 / 31%);color:white;padding:0 10px;">
        <p>删除时间：{{x['delete_time']}}</p>
        <p>剩余时间：{{x['left_time']}}</p>
    </div>
</div>
{%endfor%}
{%endblock%}
{%block functionOnload%}
$(".clearfix")[0].empty();
<!--<button style="" onclick="clearRecycle('{{url_for('clear_recycle')}}')"><i class="icon-trash"></i>清空</button>-->
$(".clearfix")[0].append("")

{%endblock%}